@use '../abstracts/' as *;

/* -------------------------------------------------------------------------- */
/*                                    badge                                   */
/* -------------------------------------------------------------------------- */

$badgeDefaultColor:var(--kidi-bigin-default);
 
.step{
    &--badge{
        @include flexCenter(inline-flex);
        padding:rem(7.2) rem(16);
        border: 1px solid $badgeDefaultColor;
        border-radius: rem(28);
        font-size: rem(20);
        color: $badgeDefaultColor;
        font-weight: 700;
    }
}