@use 'sass:math';
@use '../abstracts/' as *;

/* -------------------------------------------------------------------------- */
/*                                   buttons                                  */
/* -------------------------------------------------------------------------- */

.theme-1 {
  --color-item-bg: linear-gradient(120deg, #a8edea 0%, #fed6e3 100%);
  --color-action: #121019;
  --color-button-bg: #121019;
  --color-button-text: #fff;
  --button-padding: 1.5rem 3rem;
  --radius-button: 5px;
  --border-button: 0;
}

.theme-2 {
  --color-item-bg: linear-gradient(120deg, #7f54e6, #3f51b5);
  --color-action: #f3f3f3;
  --color-button-bg: #f3f3f3;
  --color-button-text: #3c2e9e;
  --button-padding: 1.8rem 4rem;
  --radius-button: 5px;
  --border-button: 0;
}

.theme-3 {
  --color-item-bg: linear-gradient(120deg, #152bc3, #5366d8);
  --color-action: #0e19a2;
  --color-button-bg: #0e19a2;
  --color-button-text: #fff;
  --button-padding: 2rem 4rem;
  --radius-button: 0;
  --border-button: 0;
}

.theme-4 {
  --color-item-bg: linear-gradient(120deg, #ecef3a, #ec6b9b);
  --color-action: #e85577;
  --color-button-bg: #transparent;
  --color-button-text: #e85577;
  --button-padding: 1.5rem 3rem;
  --radius-button: 15px;
  --border-button: 4px solid #e85577;
}

.theme-5 {
  --color-item-bg: linear-gradient(120deg, #baedff, #07a2da);
  --color-action: #003ff1;
  --color-button-bg: #003ff1;
  --color-button-text: #fff;
  --button-padding: 1rem 2rem;
  --radius-button: 5px;
  --border-button: 0;
}

.theme-6 {
  --color-item-bg: linear-gradient(120deg, #9c27b0, #090772);
  --color-action: #f7d337;
  --color-button-bg: #f7d337;
  --color-button-text: #000000;
  --button-padding: 1.5rem 3rem;
  --radius-button: 40px;
  --border-button: 0;
}

.theme-7 {
  --color-item-bg: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  --color-action: #e2405b;
  --color-button-bg: #e2405b;
  --color-button-text: #e9e9e9;
  --button-padding: 1.8rem 4.5rem;
  --radius-button: 0;
  --border-button: 0;
}

.theme-8 {
  --color-item-bg: linear-gradient(120deg, #84fab0, #8fd3f4);
  --color-action: blue;
  --color-button-bg: linear-gradient(to top, #22b9d2 0%, #5389ec 100%);
  --color-button-text: #fff;
  --button-padding: 2rem 4rem;
  --radius-button: 10px;
  --border-button: 0;
}

.theme-9 {
  --color-item-bg: linear-gradient(120deg, #d299c2 0%, #fef9d7 100%);
  --color-action: #c13a3a;
  --color-button-bg: #c13a3a;
  --color-button-text: #ffffff;
  --button-padding: 1.5rem 3rem;
  --radius-button: 10px;
  --border-button: 0;
}

.theme-10 {
  --color-item-bg: linear-gradient(120deg, #fddb92 0%, #d1fdff 100%);
  --color-action: #b1b1b1;
  --color-button-bg: #b1b1b1;
  --color-button-text: #fff;
  --button-padding: 1.5rem 3rem;
  --radius-button: 0;
  --border-button: 0;
}

.theme-11 {
  --color-item-bg: linear-gradient(120deg, #fff1eb 0%, #ace0f9 100%);
  --color-action: #1b81ea;
  --color-button-bg: #fff;
  --color-button-text: #1b81ea;
  --button-padding: 2rem 4.5rem;
  --radius-button: 7px;
  --border-button: 0;
}

.theme-12 {
  --color-item-bg: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  --color-action: #ff4d73;
  --color-button-bg: #ff4d73;
  --color-button-text: #fff;
  --button-padding: 1.5rem 7rem;
  --radius-button: 40px;
  --border-button: 0;
}

// 다음스텝으로

.card-paging-button {
  border-radius: 28px;
  border: 1px solid #666;
  padding: rem(7.2) rem(16);
  @include flexCenter();
  gap: 8px;
  transition: all 0.5s;
  &::after {
    content: '';
    background-position: center;
    background-size: 100%;
    width: 14px;
    height: 15px;
    display: block;
    transition: background-image 0.5s;
    background-image: url('/assets/img/ico/ico__arrow__down.svg');
  }
  &:hover {
    background-color: var(--kidi-bigin-default);
    border: 1px solid var(--kidi-bigin-default);
    color: #fff;
    &::after {
      background-image: url('/assets/img/ico/ico__arrow__down-white.svg');
    }
  }
  &.reload {
    &::after {
      background-image: url('/assets/img/lifeStyle/ico_reload.svg');
      transform: translateY(1px);
    }
    &:hover {
      &::after {
        background-image: url('/assets/img/lifeStyle/ico_reload_white.svg');
      }
    }
  }
  &.prev-button {
    &::after {
      transform: rotate(180deg);
    }
  }
}

// ------------------------------------------
// btn
// ------------------------------------------
// $btn-bg: #fff;
// $btn-hover-bg: #3b5bdb;
// $btn-color: #000;
// $btn-hover-color: #fff;

// .btn {
//   padding: 1em 1.5em;
//   background-color: $btn-bg;
//   cursor: pointer;
//   border-radius: 3px;
//   overflow: hidden;
//   color: rgba(0, 0, 0, 0);
//   text-shadow: 0 0 0 $btn-color, 0 3rem 0 $btn-hover-color;
//   transition: background-color 150ms, text-shadow 200ms;
//   font-size: 1.1rem;
//   &:hover {
//     background-color: $btn-hover-bg;
//     text-shadow: 0 -4rem 0 $btn-color, 0 0 0 $btn-hover-color;
//   }
// }

// ------------------------------------------
// Link
// ------------------------------------------
$link-color: #748ffc;
$link-hover-color: #fff;
.link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 0 $link-color, 0 3rem 0 $link-hover-color;
  transition: text-shadow 200ms;
  vertical-align: bottom;
  &:hover {
    text-shadow: 0 -3rem 0 $link-color, 0 0 0 $link-hover-color;
  }
}

// ------------------------------------------
// btn
// ------------------------------------------
.btn {
  display: inline-block;
  padding: 0.5rem 0.1rem;
  max-height: rem(60);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: linear-gradient(120deg, #6a11cb, #2575fc);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: rem(100);
  &:hover {
    background: linear-gradient(120deg, #2575fc, #6a11cb);
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}


$nav-icon-width: math.div(60px, 2); // 30px
$nav-icon-height: math.div(45px, 2); // 22.5px
$span-height: math.div(9px, 2); // 4.5px
$span-top-initial: math.div(0px, 2); // 0px
$span-top-middle: math.div(18px, 2); // 9px
$span-top-bottom: math.div(36px, 2); // 18px



#header #chartOptionBtn{
  // position: absolute;
  // right: 50px;
  // top:50%;
  // transform: translateY(-50%);
  color: #fff;
  border-radius: 11.5px;
  border: 1.15px solid rgba(255, 255, 255, 0.20);
  background: linear-gradient(180deg, #2973D6 0%, #544FC5 100%);
  block-size: 40px;
  padding-inline: 23px;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  gap: 5px;
  display: none;
  &::before{
    content:"";
    inline-size:18px;
    block-size:18px;
    background-image: url('/assets/img/main/ico_chartOption.svg');
    background-repeat: no-repeat;
  }
}

body.chart--page #header.main_header #chartOptionBtn{
  display: flex;
}



#nav-icon {
  width: $nav-icon-width;
  height: $nav-icon-height;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;




  span {
    display: block;
    position: absolute;
    height: $span-height;
    width: 100%;
    background: #333;
    border-radius: $span-height; // Radius scales with height
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: $span-top-initial;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: $span-top-middle;
    }

    &:nth-child(4) {
      top: $span-top-bottom;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: $span-top-middle;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: $span-top-middle;
        width: 0%;
        left: 50%;
      }
    }
  }
}

.page--option{
  display: flex;
  flex-direction: column;
  gap: rem(10);
  position: fixed;
  right:rem(10);
  bottom:rem(20);
  z-index: 998;

  button{
    width:50px;
    height:50px;
    box-shadow: 0px 1.8px 6px 0px rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    text-indent: -9999em;
    background-repeat: no-repeat;
    background-position: center;
    &.btn{
      &--bookmark{
        display: none;
        background-image: url('/assets/img/main/ico_bookmark.svg');
        background-color: #2973D6;
        @include mq('md'){
          display: block;
        }
      }
      &--top{
        background-image: url('/assets/img/main/ico_top.svg');
        background-color: #fff;
      }
    }
  }
}




