@use "../abstracts/" as *;

/* -------------------------------------------------------------------------- */
/*                                   buttons                                  */
/* -------------------------------------------------------------------------- */

// 다음스텝으로

.card-paging-button {
  border-radius: 28px;
  border: 1px solid #666;
  padding: 7.2px 16px;
  @include flexCenter();
  gap: 8px;
  transition: all 0.5s;
  &::after {
    content: "";
    background-position: center;
    background-size: 100%;
    width: 14px;
    height: 15px;
    display: block;
    transition: background-image 0.5s;
    background-image: url("/assets/img/ico/ico__arrow__down.svg");
  }
  &:hover {
    background-color: var(--kidi-bigin-default);
    border: 1px solid var(--kidi-bigin-default);
    color: #fff;
    &::after {
      background-image: url("/assets/img/ico/ico__arrow__down-white.svg");
    }
  }
  &.reload {
    &::after {
        background-image: url('/assets/img/lifeStyle/ico_reload.svg');
        transform: translateY(1px);
    }
    &:hover{
      &::after{
        background-image: url('/assets/img/lifeStyle/ico_reload_white.svg');
      }
    }
  }
  &.prev-button{
    &::after {
        transform: rotate(180deg);
    }
  }
  
}






// ------------------------------------------
// btn
// ------------------------------------------
$btn-bg: #fff;
$btn-hover-bg: #3b5bdb;
$btn-color: #000;
$btn-hover-color: #fff;

.btn {
	padding: 1em 1.5em;
	background-color: $btn-bg;
	cursor: pointer;
	border-radius: 3px;
	overflow: hidden;
	color: rgba(0, 0, 0, 0);
	text-shadow: 0 0 0 $btn-color, 0 3rem 0 $btn-hover-color;
	transition: background-color 150ms, text-shadow 200ms;
	font-size: 1.1rem;
	&:hover {
		background-color: $btn-hover-bg;
		text-shadow: 0 -4rem 0 $btn-color, 0 0 0 $btn-hover-color;
	}
}

// ------------------------------------------
// Link
// ------------------------------------------
$link-color: #748ffc;
$link-hover-color: #fff;
.link {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
	color: rgba(0, 0, 0, 0);
	text-shadow: 0 0 0 $link-color, 0 3rem 0 $link-hover-color;
	transition: text-shadow 200ms;
	vertical-align: bottom;
	&:hover {
		text-shadow: 0 -3rem 0 $link-color, 0 0 0 $link-hover-color;
	}
}
