@use '../abstracts/' as *;

.barba-container {
  --background: #fff;
  --background-checkbox: #0082ff;
  --background-image: #fff, #{rgba(#006baf, 0.2)};
  --text-color: #666;
  --text-headline: #000;
  --card-shadow: #0082ff;
  --card-height: 190px;
  --card-width: 100%;
  --card-radius: 12px;
  --header-height: 47px;
  --blend-mode: overlay;
  --transition: 0.15s;
  /* ------------------------------- cardGlobal ------------------------------- */
  position: relative;
  //common
  $cardLineColor: #c2c2c2;
  $cardColor--active: #2d83f2;
  $box-shadow: rem(4) rem(4) rem(4) rem(0) rgba(0, 133, 231, 0.5);
  $borderWidth: 2px;
  $radius: rem(0);

  //step01

  //step02

  /* -------------------------------------------------------------------------- */

  min-height: rem(500);
  .card--container {
    margin-block: rem(40) rem(35);
  }
  .card {
    border: $borderWidth solid $cardLineColor;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s;
    border-radius: $radius;
    font-size: rem(16);
    &:focus {
      outline: none !important;
    }
    img {
      filter: grayscale(100%);
    }
    &.selected {
      border: $borderWidth solid $cardColor--active;
      box-shadow: $box-shadow;
      transform: translateY(rem(-4));
      img {
        filter: grayscale(0);
      }
    }
  }

  &[data-barba-namespace='step1'] {
    .card--container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(30);
    }
    .card {
      aspect-ratio: 2/1;
      @include flex-center-row;
      gap: rem(50);
      .card--info {
        text-align: left;
        strong {
          color: #999;
          font-size: rem(22);
          transition: all 0.5s;
        }
        p {
          color: #666;
          text-align: left;
          font-size: rem(16);
          transition: all 0.5s;
        }
      }

      &.selected {
        // border-radius: 10px 50px;
        border: rem(2) solid $cardColor--active;
        strong {
          color: $cardColor--active;
        }
      }
    }
  }
  &[data-barba-namespace='step2'] {
    .card {
      color: #999;
      aspect-ratio: 2/1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(20);
      img {
        height: rem(64);
      }
    }
    .card[data-gender] {
      font-size: rem(24);
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: all 0.5s;
    column-gap: rem(60);
    .step--area {
      display: flex;
      flex-direction: column;
      width: 100%;
      .remaining--area {
        flex: 1;
        display: flex;
        align-items: center;
        min-height: rem(320);
        position: relative;
        .none-data {
          position: absolute;
          width: 100%;
          height: calc(100% - rem(100));
          @include flexCenter();
          color: #666;
          font-size: rem(20);
          font-weight: 300;
          background-color: #f1f1f1;
          border-radius: rem(50);

        }
      }
      .card--container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(var(--column), 1fr);
        gap: rem(10);
      }
    }
    .card--step--option {
      grid-column: 1/3;
      // padding-top: 0;
    }
  }
  &[data-barba-namespace='step3'] {
    .card--container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(var(--column), 1fr);
      gap: rem(20);
      margin-block-start: rem(40);
      // .card {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: space-between;
      //   align-items: center;
      //   color: #999;
      //   font-size: rem(24);
      //   font-weight: 700;
      //   position: relative;
      //   opacity: 0.5;
      //   min-height: rem(182);
      //   p {
      //     color: #343434;
      //   }
      //   img {
      //     object-fit: cover;
      //     transition: all 0.5s;
      //     width: 100%;
      //     object-position: top;
      //   }
      //   &.selected {
      //     opacity: 1;
      //     p {
      //       color: #0069f6;
      //     }
      //   }
      // }
      .card{
        border: 0;
        user-select: none;
        display: block;
        position: relative;
        &:nth-child(odd) {
          .card__body-cover-image {
            --x-y1: 100% 90%;
            --x-y2: 67% 83%;
            --x-y3: 33% 90%;
            --x-y4: 0% 85%;
          }
        }
      
        &:nth-child(even) {
          .card__body-cover-image {
            --x-y1: 100% 85%;
            --x-y2: 73% 93%;
            --x-y3: 25% 85%;
            --x-y4: 0% 90%;
          }
        }
      
        &__input {
          position: absolute;
          display: block;
          outline: none;
          border: none;
          background: none;
          padding: 0;
          margin: 0;
          -webkit-appearance: none;
      
          &:checked {
            & ~ .card__body {
              --shadow: 0 0 0 3px var(--card-shadow);
              .card__body {
               
                &-cover-checkbox {
                  --check-bg: var(--background-checkbox);
                  --check-border: #fff;
                  --check-scale: 1;
                  --check-opacity: 1;
                  &--svg {
                    --stroke-color: #fff;
                    --stroke-dashoffset: 0;
                  }
                }
                &-cover {
                  &:after {
                    --opacity-bg: 0;
                  }
                  &-image {
                    --filter-bg: grayscale(0);
                  }
                }
                &-header-subtitle {
                  opacity: 1;
                }
              }
            }
          }
      
          &:disabled {
            & ~ .card__body {
              
              cursor: not-allowed;
              opacity: 0.5;
              &:active {
                --scale: 1;
              }
            }
          }
        }
      
        &__body {
          display: grid;
          grid-auto-rows: calc(var(--card-height) - var(--header-height)) auto;
          background: var(--background);
          height: var(--card-height);
          width: var(--card-width);
          border-radius: var(--card-radius);
          overflow: hidden;
          position: relative;
          cursor: pointer;
          box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.2));
          transition: transform var(--transition), box-shadow var(--transition);
          transform: scale(var(--scale, 1)) translateZ(0);
          &:active {
            --scale: 0.96;
          }
      
          &-cover {
            --c-border: var(--card-radius) var(--card-radius) 0 0;
            --c-width: 100%;
            --c-height: 100%;
            position: relative;
            overflow: hidden;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: var(--c-width);
              height: var(--c-height);
              border-radius: var(--c-border);
              background: linear-gradient(to bottom right, var(--background-image));
              mix-blend-mode: var(--blend-mode);
              opacity: var(--opacity-bg, 1);
              transition: opacity var(--transition) linear;
            }
            &-image {
              width: var(--c-width);
              height: var(--c-height);
              object-fit: cover;
              border-radius: var(--c-border);
              filter: var(--filter-bg, grayscale(1));
              // transition: filter var(--transition) linear; // not working properly in Chrome
              clip-path: polygon(
                0% 0%,
                100% 0%,
                var(--x-y1, 100% 90%),
                var(--x-y2, 67% 83%),
                var(--x-y3, 33% 90%),
                var(--x-y4, 0% 85%)
              );
            }
            &-checkbox {
              background: var(--check-bg, var(--background-checkbox));
              border: 2px solid var(--check-border, #fff);
              position: absolute;
              right: 10px;
              top: 10px;
              z-index: 1;
              width: 28px;
              height: 28px;
              border-radius: 50%;
              opacity: var(--check-opacity, 0);
              transition: transform var(--transition),
                opacity calc(var(--transition) * 1.2) linear,
                -webkit-transform var(--transition) ease;
              transform: scale(var(--check-scale, 0));
              &--svg {
                width: 13px;
                height: 11px;
                display: inline-block;
                vertical-align: top;
                fill: none;
                margin: 7px 0 0 5px;
                stroke: var(--stroke-color, #fff);
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 16px;
                stroke-dashoffset: var(--stroke-dashoffset, 16px);
                transition: stroke-dashoffset 0.4s ease var(--transition);
              }
            }
          }
      
          &-header {
            height: var(--header-height);
            background: var(--background);
            padding: 0 10px 10px 10px;
            text-align: center;
            &-title {
              color: var(--text-headline);
              font-weight: 700;
              margin-bottom: 8px;
              font-size: rem(20);
            }
            &-subtitle {
              color: var(--text-color);
              font-weight: 500;
              font-size: 13px;
              opacity: 0;
            }
          }
        }

        .category--sub{
          position: absolute;
          margin-top: 20px;
          display: flex;
          gap: 10px;
          pointer-events: none;
          button{
            border: 1px solid #ccc;
            border-radius: 2rem;
            padding:5px 10px;
          }
        }

      }
    }
  }
  &[data-barba-namespace='step4'] {
    .result--container {
      min-height: 100vh;
      article {
        margin-block-start: rem(65);
        h2 {
          border-radius: rem(50);
          background: #f1f1f1;
          color: #4b4b4b;
          font-size: rem(18);
          font-weight: 700;
          letter-spacing: rem(-0.36);
          text-align: center;
          padding: rem(13);
        }
        .result--area {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          &--title {
            text-align: center;
            margin-block: rem(27) rem(43);
            h3 {
              color: #343434;
              font-size: rem(28);
              font-weight: 700;
              background: linear-gradient(#e7f6ff, #e7f6ff) no-repeat center bottom / 100% rem(25);
              padding-block: rem(5) rem(10);
              padding-inline: rem(10);
              display: inline-block;
            }
          }
          &--info {
            margin-top: rem(18);
            column-gap: rem(33);
            display: grid;
            grid-template-columns: rem(186) 1fr;
            padding-inline: rem(22) rem(52);
            &--thumbnail {
              height: rem(250);
              max-height: rem(250);
              border-radius: rem(800);
              border: rem(1) solid var(--borderColor);
              background-color: var(--bgColor);
              @include flexCenter();
              img {
                object-fit: contain;
                object-position: center;
              }
            }
            &--table {
              display: grid;
              grid-template-columns: 2fr 1fr;
              grid-template-rows: repeat(var(--rows, 2), 1fr);
              padding: rem(7) rem(12) rem(14);
              position: relative;
              border-width: rem(2) rem(0) rem(1) rem(0);
              border-style: solid;
              border-color: #cacaca;

              & > div {
                font-weight: 700;
                display: flex;
                align-items: flex-end;
                border-top: rem(1) dotted #ccc;
                min-height: rem(66);
                padding-bottom: rem(12);
                &:nth-child(-n + 2) {
                  border-top: 0;
                }
              }
              &--name {
                color: #666;
                font-size: rem(20);
              }
              &--counter,
              &--rating {
                color: var(--kidi-bigin-default);
                font-size: rem(40);
              }
            }
          }
        }
      }
    }
    .result--last--container {
      min-height: rem(350);
      margin-block-start: rem(27);
      border-radius: rem(10) rem(50);
      border: rem(5) solid #0069f6;
      background: #2d83f3;
      padding: rem(45) rem(478) rem(50) rem(31);
      background-image: url('/assets/img/lifeStyle/ico_result_5.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .user--target {
        display: flex;
        gap: rem(18);
        span {
          @include flexCenter();
          padding: rem(6) rem(18);
          border-radius: rem(80);
          background: #fff;
          color: #2d83f3;
          font-size: rem(18);
          font-weight: 700;
        }
        p {
          color: #fff;
          text-align: center;
          font-size: rem(24);
          font-weight: 700;
          display: flex;
          align-items: center;
        }
      }
      .result--last--info {
        margin-block-start: rem(30);
        color: #fff;
        text-align: center;
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(35); /* 159.091% */
        letter-spacing: rem(-0.66);
        white-space: normal;
      }
    }
  }
}