@use '../abstracts/' as *;

.barba-container {
  /* ------------------------------- cardGlobal ------------------------------- */
  position: relative;
  //common
  $cardLineColor: #c2c2c2;
  $cardColor--active: #2d83f2;
  $box-shadow: rem(4) rem(4) rem(4) rem(0) rgba(0, 133, 231, 0.5);
  $borderWidth: 2px;
  $radius: rem(0);

  //step01

  //step02

  /* -------------------------------------------------------------------------- */

  min-height: rem(500);
  .card--container {
    margin-block: rem(40) rem(35);
  }
  .card {
    border: $borderWidth solid $cardLineColor;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s;
    border-radius: $radius;
    &:focus {
      outline: none !important;
    }
    img {
      filter: grayscale(100%);
    }
    &.selected {
      border: $borderWidth solid $cardColor--active;
      box-shadow: $box-shadow;
      transform: translateY(rem(-4));
      img {
        filter: grayscale(0);
      }
    }
  }

  &[data-barba-namespace='step1'] {
    .card--container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(30);
    }
    .card {
      aspect-ratio: 2/1;
      @include flex-center-row;
      gap: rem(50);
      .card--info {
        text-align: left;
        strong {
          color: #999;
          font-size: rem(22);
          transition: all 0.5s;
        }
        p {
          color: #666;
          text-align: left;
          font-size: rem(16);
          transition: all 0.5s;
        }
      }

      &.selected {
        // border-radius: 10px 50px;
        border: rem(2) solid $cardColor--active;
        strong {
          color: $cardColor--active;
        }
      }
    }
  }
  &[data-barba-namespace='step2'] {
    .card {
      color: #999;
      aspect-ratio: 2/1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(20);
      img {
        height: rem(64);
      }
    }
    .card[data-gender] {
      font-size: rem(24);
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: all 0.5s;
    column-gap: rem(60);
    .step--area {
      display: flex;
      flex-direction: column;
      width: 100%;
      .remaining--area {
        flex: 1;
        display: flex;
        align-items: center;
        min-height: rem(320);
        position: relative;
        .none-data {
          position: absolute;
          width: 100%;
          height: calc(100% - rem(100));
          @include flexCenter();
          color: #666;
          font-size: rem(20);
          font-weight: 300;
          background-color: #f1f1f1;
          border-radius: rem(50);

        }
      }
      .card--container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(var(--column), 1fr);
        gap: rem(10);
      }
    }
    .card--step--option {
      grid-column: 1/3;
      // padding-top: 0;
    }
  }
  &[data-barba-namespace='step3'] {
    .card--container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(var(--column), 1fr);
      gap: rem(10);
      margin-block-start: rem(40);
      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: #999;
        font-size: rem(24);
        font-weight: 700;
        padding-block-start: rem(23);
        position: relative;
        opacity: 0.5;
        min-height: rem(182);
        p {
          color: #343434;
        }
        img {
          object-fit: cover;
          transition: all 0.5s;
          width: 100%;
          height: rem(155);
          object-position: top;
        }
        &.selected {
          opacity: 1;
          p {
            color: #0069f6;
          }
        }
      }
    }
  }
  &[data-barba-namespace='step4'] {
    .result--container {
      min-height: 100vh;
      article {
        margin-block-start: rem(65);
        h2 {
          border-radius: rem(50);
          background: #f1f1f1;
          color: #4b4b4b;
          font-size: rem(18);
          font-weight: 700;
          letter-spacing: rem(-0.36);
          text-align: center;
          padding: rem(13);
        }
        .result--area {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          &--title {
            text-align: center;
            margin-block: rem(27) rem(43);
            h3 {
              color: #343434;
              font-size: rem(28);
              font-weight: 700;
              background: linear-gradient(#e7f6ff, #e7f6ff) no-repeat center bottom / 100% rem(25);
              padding-block: rem(5) rem(10);
              padding-inline: rem(10);
              display: inline-block;
            }
          }
          &--info {
            margin-top: rem(18);
            column-gap: rem(33);
            display: grid;
            grid-template-columns: rem(186) 1fr;
            padding-inline: rem(22) rem(52);
            &--thumbnail {
              height: rem(250);
              max-height: rem(250);
              border-radius: rem(800);
              border: rem(1) solid var(--borderColor);
              background-color: var(--bgColor);
              @include flexCenter();
              img {
                object-fit: contain;
                object-position: center;
              }
            }
            &--table {
              display: grid;
              grid-template-columns: 2fr 1fr;
              grid-template-rows: repeat(var(--rows, 2), 1fr);
              padding: rem(7) rem(12) rem(14);
              position: relative;
              border-width: rem(2) rem(0) rem(1) rem(0);
              border-style: solid;
              border-color: #cacaca;

              & > div {
                font-weight: 700;
                display: flex;
                align-items: flex-end;
                border-top: rem(1) dotted #ccc;
                min-height: rem(66);
                padding-bottom: rem(12);
                &:nth-child(-n + 2) {
                  border-top: 0;
                }
              }
              &--name {
                color: #666;
                font-size: rem(20);
              }
              &--counter,
              &--rating {
                color: var(--kidi-bigin-default);
                font-size: rem(40);
              }
            }
          }
        }
      }
    }
    .result--last--container {
      min-height: rem(350);
      margin-block-start: rem(27);
      border-radius: rem(10) rem(50);
      border: rem(5) solid #0069f6;
      background: #2d83f3;
      padding: rem(45) rem(478) rem(50) rem(31);
      background-image: url('/assets/img/lifeStyle/ico_result_5.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .user--target {
        display: flex;
        gap: rem(18);
        span {
          @include flexCenter();
          padding: rem(6) rem(18);
          border-radius: rem(80);
          background: #fff;
          color: #2d83f3;
          font-size: rem(18);
          font-weight: 700;
        }
        p {
          color: #fff;
          text-align: center;
          font-size: rem(24);
          font-weight: 700;
          display: flex;
          align-items: center;
        }
      }
      .result--last--info {
        margin-block-start: rem(30);
        color: #fff;
        text-align: center;
        font-size: rem(18);
        font-weight: 400;
        line-height: rem(35); /* 159.091% */
        letter-spacing: rem(-0.66);
        white-space: normal;
      }
    }
  }
}