@use 'sass:color';
@use '../abstracts/' as *;
$skeleton-color: #e0e0e0; // Ensure this is a valid hex color
$skeleton-width: rem(320);
$skeleton-offset: rem(100);

$image-height: rem(155);
$content-width: 100%;
$line-height: rem(35);
$line-1-width: 50%;
$line-2-width: 80%;

@mixin background {
  background-image: linear-gradient(
    90deg,
    $skeleton-color rem(0),
    #{color.adjust($skeleton-color, $lightness: 5%)},
    $skeleton-color rem(60)
  );
  background-size: calc(#{$skeleton-width} + #{$skeleton-offset});
}

.skeleton {
  display: flex;
  .image,
  .line {
    @include background;
    animation: refresh 2s infinite ease-out;
  }
}

.skeleton {
  &.step01 {
    width: 100%;
    padding: rem(20);
    justify-content: space-between;
    gap: rem(20) !important;
    .image {
      flex: 1;
      height: 100%;
    }
    .line--wrap {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: rem(10);
      height: 100%;
      .line {
        width: $content-width;
        height: rem(32);
        &.long {
          flex: 1;
          height: 100%;
        }
      }
    }
  }
  &.step02 {
    gap: rem(10);
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding: rem(20) rem(30);
    .image {
      width: rem(100);
      height: 100%;
    }
    .line {
      height: rem(32);
      flex: 1;
    }
  }
  &.step03 {
    gap: rem(10);
    width: 100%;
    height: 100%;
    max-height: rem(215);
    align-items: center;
    justify-content: space-between;
    padding: rem(10);
    gap: rem(10);
    flex-direction: column;
    .image {
      width: 100%;
      height: rem(155);
    }
    .line {
      width: 100%;
      height: rem(32);
      position: relative !important;
    }
  }
}

@keyframes refresh {
  0% {
    background-position: -#{$skeleton-offset};
  }

  40%,
  100% {
    background-position: #{$skeleton-width};
  }
}
