@use '../abstracts/' as *;

$bgColor: #020438;
$boxColor: #020438;
$waterFColor: #4d6de3;
$waterBColor: #c7eeff;

.barba-container[data-barba-namaspace='step4'] {
  background-color: $bgColor;
}
.select--item {
  padding: rem(20);
  color: #fff;
  display: inline-block;
  position: absolute;
  z-index: 100;
  border-radius: rem(50);
  font-weight: 700;
  font-size: rem(24);
  box-shadow: rem(0) rem(0) rem(0) rem(0) rgba(0, 0, 0, 0);
  &::after {
    content: '';
    position: absolute;
    bottom: rem(0);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: rem(8);
    box-shadow: rem(0) rem(40) rem(15) rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border-radius: rem(80) rem(4);
  }
  &:nth-child(1) {
    top: 25%;
    left: 20%;
    background-color: rgb(174, 59, 255);

    animation: moveUpDown 2s infinite ease-in-out;
  }
  &:nth-child(2) {
    top: 35%;
    right: 20%;
    background-color: rgb(0, 169, 111);
    animation: moveUpDown 1.5s infinite ease-in-out;
  }

  &:nth-child(3) {
    top: 45%;
    right: 30%;
    background-color: rgb(252, 240, 18);
    color: #020438;
    animation: moveUpDown 2.5s infinite ease-in-out;
  }
  &:nth-child(4) {
    top: 50%;
    left: 10%;
    background-color: rgb(68, 94, 243);
    animation: moveUpDown 3s infinite ease-in-out;
  }

  @keyframes moveUpDown {
    0%,
    100% {
      margin-top: rem(0);
    }
    30% {
      margin-top: rem(-15);
    }
    70% {
      margin-top: rem(10);
    }
  }
}

.result--loaded--container {
  position: relative;
  height: rem(500);
}
.result--loading {
  width: 100vw;
  height: 100%;
  margin-top: 5vw;
  @include posCenter();
  background-color: #fff;
  &--guide {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: rem(20);
    font-weight: 400;
    .guide--txt01 {
      font-size: rem(16);
    }
    .guide--txt02 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: rem(20);
      // animation: blink 2s infinite ease-in-out;
      .dotted {
        width: rem(21);
        display: inline-block;
        font-weight: 700;
        em {
          font-weight: bold;
        }
      }
      // @keyframes blink {
      //  0%,
      //  100% {
      //    opacity: 1;
      //  }
      //  50% {
      //    opacity: 0;
      //  }
      // }
    }
  }
}
.box {
  height: rem(280);
  width: rem(280);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $boxColor;
  border-radius: 100%;
  overflow: hidden;
  z-index: -1;
  .percent {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: rem(64);
  }
  .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    background: $waterFColor;
    transition: all 0.3s;
    &_wave {
      width: 200%;
      position: absolute;
      bottom: 100%;
      &_back {
        right: 0;
        fill: $waterBColor;
        animation: wave-back 1.4s infinite linear;
      }
      &_front {
        left: 0;
        fill: $waterFColor;
        margin-bottom: rem(-1);
        animation: wave-front 0.7s infinite linear;
      }
    }
  }
}
//비활성화 일단 안보이게
.percent {
  opacity: 0.8;
  & > div {
    font-size: rem(24);
    font-weight: 700;
  }
}
#completionMessage {
  display: flex;
  flex-direction: column;
  gap: rem(10);
  position: relative;
  em {
    font-size: rem(16);
  }
}
@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}
