@charset "UTF-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* -------------------------------------------------------------------------- */
/*                                   result                                   */
/* -------------------------------------------------------------------------- */
/*    .a11y-hidden {
/*        overflow: hidden;
/*        position: absolute;
/*        clip: rect(0, 0, 0, 0);
/*        clip-path: circle(0);
/*        width: 1px;
/*        height: 1px;
/*        margin: -1px;
/*        border: 0;
/*        padding: 0;
/*        white-space: nowrap;
/*    }
/*    .a11y-hidden--focus:focus {
/*        overflow: visible;
/*        position: static;
/*        clip: auto;
/*        width: auto;
/*        height: auto;
/*        margin: 0;
/*        white-space: normal;
/*    } 
/* -------------------------------------------------------------------------- */
:root {
  --kidi-bigin-default: #2D83F2;
}

html.is-transitioning {
  cursor: wait;
}

.var {
  color: var(--kidi-bigin-default);
}

.barba-container {
  /* ------------------------------- cardGlobal ------------------------------- */
  position: relative;
  /* -------------------------------------------------------------------------- */
  min-height: 500px;
}
.barba-container .card--container {
  margin-block: 40px 35px;
}
.barba-container .card {
  border: 1px solid #c2c2c2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.5s;
  border-radius: 0px;
}
.barba-container .card:focus {
  outline: none !important;
}
.barba-container .card img {
  filter: grayscale(100%);
}
.barba-container .card.selected {
  border: 1px solid #2d83f2;
  box-shadow: 4px 4px 4px 0px rgba(0, 133, 231, 0.5);
  transform: translateY(-4px);
}
.barba-container .card.selected img {
  filter: grayscale(0);
}
.barba-container[data-barba-namespace=step1] .card--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.barba-container[data-barba-namespace=step1] .card {
  aspect-ratio: 2/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}
.barba-container[data-barba-namespace=step1] .card .card--info {
  text-align: left;
}
.barba-container[data-barba-namespace=step1] .card .card--info strong {
  color: #999;
  font-size: 22px;
  transition: all 0.5s;
}
.barba-container[data-barba-namespace=step1] .card .card--info p {
  color: #666;
  text-align: left;
  font-size: 16px;
  transition: all 0.5s;
}
.barba-container[data-barba-namespace=step1] .card.selected {
  border: 2px solid #2d83f2;
}
.barba-container[data-barba-namespace=step1] .card.selected strong {
  color: #2d83f2;
}
.barba-container[data-barba-namespace=step2] {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: all 0.5s;
  column-gap: 60px;
}
.barba-container[data-barba-namespace=step2] .card {
  color: #999;
  aspect-ratio: 2/1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.barba-container[data-barba-namespace=step2] .card img {
  height: 64px;
}
.barba-container[data-barba-namespace=step2] .card[data-gender] {
  font-size: 24px;
}
.barba-container[data-barba-namespace=step2] .step--area {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.barba-container[data-barba-namespace=step2] .step--area .remaining--area {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 320px;
  position: relative;
}
.barba-container[data-barba-namespace=step2] .step--area .remaining--area .none-data {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 20px;
  font-weight: 300;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.barba-container[data-barba-namespace=step2] .step--area .card--container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  gap: 1rem;
}
.barba-container[data-barba-namespace=step2] .card--step--option {
  grid-column: 1/3;
  padding-top: 0;
}
.barba-container[data-barba-namespace=step3] .card--container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  gap: 1rem;
  margin-block-start: 40px;
}
.barba-container[data-barba-namespace=step3] .card--container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #999;
  font-size: 24px;
  font-weight: 700;
  padding-block-start: 23px;
  position: relative;
  opacity: 0.5;
  min-height: 182px;
}
.barba-container[data-barba-namespace=step3] .card--container .card p {
  position: absolute;
}
.barba-container[data-barba-namespace=step3] .card--container .card img {
  object-fit: cover;
  transition: all 0.5s;
}
.barba-container[data-barba-namespace=step3] .card--container .card.selected {
  color: #0069F6;
  opacity: 1;
}
.barba-container[data-barba-namespace=step4] .result--container {
  min-height: 100vh;
}
.barba-container[data-barba-namespace=step4] .result--container article {
  margin-block-start: 65px;
}
.barba-container[data-barba-namespace=step4] .result--container article h2 {
  border-radius: 50px;
  background: #F1F1F1;
  color: #4B4B4B;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
  text-align: center;
  padding: 13px;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--title {
  text-align: center;
  margin-block: 27px 43px;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--title h3 {
  color: #343434;
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(#e7f6ff, #e7f6ff) no-repeat center bottom/100% 25px;
  padding-block: 5px 10px;
  padding-inline: 10px;
  display: inline-block;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--info {
  margin-top: 18px;
  column-gap: 33px;
  display: grid;
  grid-template-columns: 186px 1fr;
  padding-inline: 22px 52px;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--info--thumbnail {
  height: 250px;
  max-height: 250px;
  border-radius: 800px;
  border: 1px solid var(--borderColor);
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--info--thumbnail img {
  object-fit: contain;
  object-position: center;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--info--table {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(var(--rows, 2), 1fr);
  padding: 7px 12px 14px;
  position: relative;
  border-width: 2px 0 1px 0;
  border-style: solid;
  border-color: #CACACA;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--info--table > div {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  border-top: 1px dotted #ccc;
  min-height: 66px;
  padding-bottom: 12px;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--info--table > div:nth-child(-n+2) {
  border-top: 0;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--info--table--name {
  color: #666;
  font-size: 20px;
}
.barba-container[data-barba-namespace=step4] .result--container article .result--area--info--table--counter, .barba-container[data-barba-namespace=step4] .result--container article .result--area--info--table--rating {
  color: var(--kidi-bigin-default);
  font-size: 40px;
}
.barba-container[data-barba-namespace=step4] .result--last--container {
  min-height: 350px;
  margin-block-start: 27px;
  border-radius: 10px 50px;
  border: 5px solid #0069F6;
  background: #2D83F3;
  padding: 45px 478px 50px 31px;
  background-image: url("/assets/img/lifeStyle/ico_result_5.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.barba-container[data-barba-namespace=step4] .result--last--container .user--target {
  display: flex;
  gap: 18px;
}
.barba-container[data-barba-namespace=step4] .result--last--container .user--target span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px;
  border-radius: 80px;
  background: #FFF;
  color: #2D83F3;
  font-size: 18px;
  font-weight: 700;
}
.barba-container[data-barba-namespace=step4] .result--last--container .user--target p {
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.barba-container[data-barba-namespace=step4] .result--last--container .result--last--info {
  margin-block-start: 30px;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px; /* 159.091% */
  letter-spacing: -0.66px;
  white-space: normal;
}

/* -------------------------------------------------------------------------- */
/*                                    badge                                   */
/* -------------------------------------------------------------------------- */
.step--badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7.2px 16px;
  border: 1px solid var(--kidi-bigin-default);
  border-radius: 28px;
  font-size: 20px;
  color: var(--kidi-bigin-default);
  font-weight: 700;
}

.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 800;
  pointer-events: none;
  display: none;
}

.transition__screen {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  will-change: top;
  background-color: var(--color-primary-400, #64acfe);
}

.transition__background {
  width: 100%;
}

.transition__background path {
  fill: var(--color-primary-400, #64acfe);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                   buttons                                  */
/* -------------------------------------------------------------------------- */
.card-paging-button {
  border-radius: 28px;
  border: 1px solid #666;
  padding: 7.2px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.5s;
}
.card-paging-button::after {
  content: "";
  background-position: center;
  background-size: 100%;
  width: 14px;
  height: 15px;
  display: block;
  transition: background-image 0.5s;
  background-image: url("/assets/img/ico/ico__arrow__down.svg");
}
.card-paging-button:hover {
  background-color: var(--kidi-bigin-default);
  border: 1px solid var(--kidi-bigin-default);
  color: #fff;
}
.card-paging-button:hover::after {
  background-image: url("/assets/img/ico/ico__arrow__down-white.svg");
}
.card-paging-button.prev-button::after {
  transform: rotate(180deg);
}

/* -------------------------------------------------------------------------- */
/*                                   current                                  */
/* -------------------------------------------------------------------------- */
.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  top: 0;
  left: 0;
}

.skeleton {
  display: flex;
}
.skeleton .image,
.skeleton .line {
  background-image: linear-gradient(90deg, #e0e0e0 0px, rgb(236.75, 236.75, 236.75), #e0e0e0 60px);
  background-size: calc(320px + 100px);
  animation: refresh 2s infinite ease-out;
}

.skeleton.step01 {
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  gap: 20px !important;
}
.skeleton.step01 .image {
  flex: 1;
  height: 100%;
}
.skeleton.step01 .line--wrap {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.skeleton.step01 .line--wrap .line {
  width: 100%;
  height: 32px;
}
.skeleton.step01 .line--wrap .line.long {
  flex: 1;
  height: 100%;
}
.skeleton.step02 {
  gap: 10px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding: 20px 30px;
}
.skeleton.step02 .image {
  width: 100px;
  height: 100%;
}
.skeleton.step02 .line {
  height: 32px;
  flex: 1;
}
.skeleton.step03 {
  gap: 10px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}
.skeleton.step03 .image {
  width: 100%;
  height: 118px;
}
.skeleton.step03 .line {
  width: 100%;
  height: 32px;
  position: relative !important;
}

@keyframes refresh {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
.barba-container[data-barba-namaspace=step4] {
  background-color: #020438;
}

.select--item {
  padding: 20px;
  color: #fff;
  display: inline-block;
  position: absolute;
  z-index: 100;
  border-radius: 50px;
  font-weight: 700;
  font-size: 24px;
}
.select--item:nth-child(1) {
  top: 5%;
  left: 20%;
  background-color: rgb(174, 59, 255);
}
.select--item:nth-child(2) {
  top: 5%;
  right: 20%;
  background-color: rgb(0, 169, 111);
}
.select--item:nth-child(3) {
  top: 40%;
  right: 15%;
  background-color: rgb(252, 240, 18);
  color: #020438;
}
.select--item:nth-child(4) {
  top: 40%;
  left: 15%;
  background-color: rgb(68, 94, 243);
}

.result--loaded--container {
  position: relative;
  height: 500px;
}

.result--loading {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.result--loading--guide {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 400;
}
.result--loading--guide .guide--txt01 {
  font-size: 16px;
}
.result--loading--guide .guide--txt02 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.result--loading--guide .guide--txt02 .dotted {
  width: 21px;
  display: inline-block;
  font-weight: 700;
}

.box {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #020438;
  border-radius: 100%;
  overflow: hidden;
}
.box .percent {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 64px;
}
.box .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: translate(0, 100%);
  background: #4d6de3;
  transition: all 0.3s;
}
.box .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.box .water_wave_back {
  right: 0;
  fill: #c7eeff;
  animation: wave-back 1.4s infinite linear;
}
.box .water_wave_front {
  left: 0;
  fill: #4d6de3;
  margin-bottom: -1px;
  animation: wave-front 0.7s infinite linear;
}

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}
/****** Style Star Rating Widget *****/
.rating {
  display: flex;
  pointer-events: none;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px 5px 0 5px;
  font-size: 20px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
} /* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

/* -------------------------------------------------------------------------- */
/*                                     dev                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#lifeStyle__Container {
  width: 100%;
}

.card--step--wrapper {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 11px;
}
.card--step--wrapper p {
  color: #666;
  font-size: 32px;
  font-weight: 700;
}
.card--step--wrapper p em {
  color: var(--kidi-bigin-default);
}

.card--step--option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-top: 2px dashed #eee;
  padding-top: 35px;
}

.current--wrap {
  position: fixed;
  right: 37px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.current--wrap li {
  width: 9px;
  height: 9px;
}
.current--wrap li.on {
  position: relative;
}
.current--wrap li.on svg circle {
  stroke: #0069F6;
}
.current--wrap li.on::before {
  content: attr(data-current-name);
  position: absolute;
  right: 21px;
  font-size: 17px;
  color: #0069F6;
  font-weight: 700;
}

/* 기본 리셋 및 기본 스타일 */

/*# sourceMappingURL=LifeStyle.css.map */
